.bgimg{
    background-image: url(../../../../public/LogoBanner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
.card_box:hover .hover_img{
    filter: blur(1px);
}
.card_box:hover .hover_effect{
visibility: visible;
}

.hover_effect{
visibility: hidden;
}


@media (max-width: 1130px) {
    .bgimg {
        background-size: 80%;

    }
  }
@media (max-width: 878px) {
    .bgimg {
        background-size: 85%;

    }
  }
@media (max-width: 780px) {
    .bgimg {
        background-size: 90%;

    }
  }